.feed-bar {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  width: 16.6vw;
  color: white; }
  .feed-bar .main {
    flex: 1; }
    .feed-bar .main .logo-block {
      text-align: center;
      margin: 12px; }
      .feed-bar .main .logo-block .date {
        opacity: .5;
        font-size: .8em; }
    .feed-bar .main .lists img {
      width: 1.5em;
      height: 1.5em;
      margin-right: 4px; }
    .feed-bar .main .lists .unread-list {
      display: flex;
      justify-content: space-between;
      opacity: .8;
      padding: 8px;
      margin-bottom: 12px; }
      .feed-bar .main .lists .unread-list:hover {
        background: #865a2b;
        cursor: pointer; }
      .feed-bar .main .lists .unread-list div span {
        position: relative;
        top: -4px; }
    .feed-bar .main .lists .feed-list-content {
      width: 100%;
      height: 100%;
      overflow: hidden; }
      .feed-bar .main .lists .feed-list-content .feed-list {
        list-style: none;
        margin: 0;
        padding: 0;
        height: 67vh;
        width: 100%;
        overflow-y: auto; }
        .feed-bar .main .lists .feed-list-content .feed-list::-webkit-scrollbar {
          display: none; }
        .feed-bar .main .lists .feed-list-content .feed-list .feed-list-item {
          display: flex;
          justify-content: space-between;
          opacity: .8;
          padding: 8px; }
          .feed-bar .main .lists .feed-list-content .feed-list .feed-list-item:hover {
            background: #94673b;
            cursor: pointer; }
          .feed-bar .main .lists .feed-list-content .feed-list .feed-list-item div span {
            position: relative;
            top: -4px; }
    .feed-bar .main .lists .article-count {
      position: relative;
      top: 4px;
      opacity: .5; }
  .feed-bar footer {
    display: flex;
    justify-content: space-between;
    width: inherit;
    padding: 12px 8px;
    box-sizing: border-box; }
    .feed-bar footer i:hover {
      cursor: pointer; }
