.switch-option {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  height: 26px;
  padding-top: 2px;
  color: white; }
  .switch-option .icon-box {
    border: 1px solid white; }
    .switch-option .icon-box .fa {
      padding: 4px 12px; }
    .switch-option .icon-box .fa-circle {
      background: #fff;
      color: black; }
  .switch-option .fa-close {
    padding: 6px 0 0 16px; }
    .switch-option .fa-close:hover {
      cursor: pointer; }
