#Main {
  
}

#sider {
  .search {
    width: inherit;
    margin: 8px;
  }
}

#right-container {
  max-height: 100vh;
  background: hsl(216, 26%, 85%);

  .now-list {
  }

  .toolbar-right {
    float: right;

    .mark {
      margin-left: 8px;
    }
  }

  .content {
    padding: 30px;
    margin: 16px 8px;
    height: 280;
    display: inline-block;
  }

  .row-bottom {
    margin-bottom: 32px;
  }
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 20px;
  cursor: pointer;
  transition: color .3s;

  &:hover {
    color: #1890ff;
  }
}

