#Main {
}

#sider {
  min-height: 100vh;
  

  .search {
    width: inherit;
    margin: 8px;
  }
}

#right-container {
  // height: 100vh;
  background: hsl(216, 26%, 85%);

  .top-bar {
    position: fixed;
    width: 100%;
    background: #fff;
    padding: 0;
    z-index: 1;

    .toolbar-right {
      position: absolute;
      right: 200px;
  
      .mark {
        margin-left: 8px;
      }
    }
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    padding: 90px 30px;
  }
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 20px;
  cursor: pointer;
  transition: color .3s;

  &:hover {
    color: #1890ff;
  }
}

