.article-bar {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url('http://www.360docs.net/pic/view?ih=810&rn=1&doc_id=5f9db40dbb68a98271fefa6c&o=jpg_6&pn=1&iw=1080&ix=0&sign=1947132831adf214612c1bb54d113b1f&type=1&iy=0&aimw=1080&app_ver=2.9.8.2&ua=bd_800_800_IncredibleS_2.9.8.2_2.3.7&bid=1&app_ua=IncredibleS&uid=&cuid=&fr=3&Bdi_bear=WIFI&from=3_10000&bduss=&pid=1&screen=800_800&sys_ver=2.3.7');

  .main {
    flex: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .tools-top {
      display: flex;
      justify-content: flex-end;
      padding: .6em .2em;

      .tools-top-right {
        display: flex;
        justify-content: space-around;
        width: 9em;
      }
    }
  
    .article-content {
      margin: 0;
      height: 88vh;
      padding: 0 8em 0 7.6em;
      overflow-y: auto;
      &::-webkit-scrollbar {
        display: none;
      }

      h2 {
        width: 100%;
        margin: 0 auto;
      }

      p {
        white-space: normal;
      }
    }
  }

  footer {
    margin: 10px auto;
  }
}