.article-list-bar {
  height: calc(100vh - 68px);
  width: 18vw;

  .article-list-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;

    .article-list {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      &::-webkit-scrollbar {
        display: none;
      }

      .article-list-item {
        padding: .2em 0;

        div {
          display: flex;
          justify-content: space-between;
          margin: 4px;

          &:hover {
            background: rgb(197, 175, 155);
            cursor: pointer;
          }
  
          img {
            width: 1.5em;
            height: 1.5em;
            margin-right: 8px;
          }

          .writing {
            display: flex;
            flex-direction: column;

            .feed-name {
              font-size: .8em;
              opacity: .6;
            }

            .article-title {
              font-size: .9em;
              margin: 0;
              padding: 0;
              word-wrap: break-word;
              word-break: break-all;
            }

            .article-summary {
              font-size: .78em;
              opacity: .7;
              margin: 0;
            }
          }
        }
      }
    }
  }

  footer {
    display: flex;
    justify-content: space-between;
    width: inherit;
    padding: 12px 8px;
    box-sizing: border-box;

    span {
      font-size: .9em;
    }

    div {
      display: flex;
      justify-content: space-between;
      width: 24%;
    }

    i:hover {
      cursor: pointer;
    }
  }
}