.feed-list-content {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .feed-list {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 66.6vh;
    width: 100%;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }

    .feed-list-item {
      display: flex;
      justify-content: space-between;
      opacity: .8;
      padding: 8px;

      &:hover {
        background: rgb(197, 175, 155);
      }

      div {
        span {
          position: relative;
          top: -4px;
        }
      }
    }
  }
}