.feed-bar {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 16vw;

  .main {
    flex: 1;

    .logo-block {
      text-align: center;
      margin: 12px;
      color: rgb(134, 100, 71);
  
      .date {
        opacity: .5;
        font-size: .8em;
      }
    }
  
    .lists {
      img {
        width: 1.5em;
        height: 1.5em;
        margin-right: 4px;
      }
  
      .unread-list {
        display: flex;
        justify-content: space-between;
        opacity: .8;
        padding: 8px;
        margin-bottom: 12px;
  
        &:hover {
          background: rgb(192, 174, 156);
        }
  
        div {
          span {
            position: relative;
            top: -4px;
          }
        }
      }
  
      .article-count {
        position: relative;
        top: 4px;
        opacity: .5;
      }
    }
  }

  footer {
    display: flex;
    justify-content: space-between;
    width: inherit;
    padding: 12px 8px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 860px) {
  .feed-bar {
    display: none;
  }
}