.switch-option {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  height: 26px;
  padding-top: 2px;

  .icon-box {
    border: 1px solid rgb(210, 211, 182);
    border-radius: .5px;

    .fa {
      padding: 4px 12px;
    }

    .fa-circle {
      background: rgb(223, 205, 175);
    }
  }

  .fa-close {
    padding: 6px 0 0 16px;

    &:hover {
      cursor: pointer;
    }
  }
}