.switch-option {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  height: 1.6em;
  padding: .3em;

  .icon-box {
    border: 1px solid rgb(219, 208, 208);
    border-radius: .2em;

    .fa {
      font-size: .9em;
      padding: .4em .8em;
    }

    .fa-circle {
      background-color: rgb(231, 215, 215);
    }
  }
}