#Home {
  display: flex;
  flex-flow: column;
  min-height: 100vh; }
  #Home main {
    flex: 1; }

#top-bar {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin: 2em auto;
  height: 16vh; }
  #top-bar .logo {
    font-size: 32px;
    font-weight: bold;
    line-height: 20px;
    position: relative;
    top: 12px; }
  #top-bar .options {
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    position: relative;
    top: 16px;
    margin-left: 240px; }
    #top-bar .options a {
      margin-right: 40px; }
    #top-bar .options .app-types {
      display: flex;
      justify-content: space-around; }

#middle-block {
  font-size: 28px;
  text-align: center; }
  #middle-block .deep-bg {
    background: #57749b;
    color: #f2f6fa;
    height: calc(100vh - 16vh - 4em - 1.8em); }
  #middle-block h3 {
    font-weight: lighter;
    padding-bottom: 1.8em; }
  #middle-block div {
    padding: 1.8em; }
  #middle-block button {
    height: 42px;
    background: #0099eb;
    border: 1px solid #0099eb;
    color: white;
    border-radius: 3px;
    font-size: 18px;
    padding-left: 50px;
    padding-right: 50px;
    outline: none; }
    #middle-block button:hover {
      background: #0e96cc;
      border: 1px solid #0e96cc;
      cursor: pointer; }

#footer {
  height: 24vh;
  background: #12263c;
  color: #f2f6fa;
  padding-top: 4em; }

.underlink_hover:hover {
  text-decoration: underline; }
